@tailwind base;
@tailwind components;
@tailwind utilities;

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}

input {
  margin-top: 1rem;
}

h1 {
  text-align: center;
}

